<!DOCTYPE html>
<html>

<head>
	<title>BOOK BLOG</title>
	<link rel="stylesheet" type="text/css" href="css/landing.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Inria+Sans&family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">OnMyBookshelf</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<% if(!currentUser) { %>
			  <li class="nav-item active">
				<a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/register">SignUp <span class="sr-only">(current)</span></a>
			  </li>
			<% } else { %> 
			  <li class="nav-item active">
				<a class="nav-link" href="#">Signed In As <%= currentUser.username %> <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
			  </li>
			<% } %>
		  </ul>
		</div>
	  </nav>
	  
	
	<center>
		<h3>
			View Available Books
		</h3>
		<input type='button' class='btn btn-primary' onclick='add()' value='Click Here' />

		<p id='showData'></p>
	</center>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        
    <a href="/books">View more books</a>
</body>

    <script type="text/javascript" src="javascript/landing.js"></script>

</html>