body{
	background-color:  rgb(198, 233, 226);
}
/* Navbar */
.nav-section{
	background-color: #061629;
	padding: 20px 40px;
}
.nav-section span{
	color: #ffffff;
}
.site-logo{
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 7px;
}
.site-logo:hover{
	color: #ffffff;
	text-decoration: none;	
    background-color: transparent;
}
.nav-right{
	font-size: 16px;
	font-weight: 500;
}
.nav-right a:hover{
	color: rgb(13, 212, 179);
}
.nav-right ul{
	list-style: none;
}
.nav-right li{
	margin-right: 10px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
a:hover{
	text-decoration: none;
	color: #ffffff;
}
.nav-right a{
	text-decoration: none;
	color: #ffffff;
}
.bars i{
	font-size: 25px;
}
.bars i:hover{
	color: rgb(13, 212, 179);
}

/* Available Books */
.avbooks{
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 80px;
}
table{
	border-collapse: separate;
	border-spacing: 0 100px;
}
td{
	background-color: rgb(241, 233, 233);
	padding-right: 40px;
}
.avbooks .info{
	padding-left: 50px;
	font-size: 20px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.avbooks img{
	width: 350px;
}
.avbooks h4{
	width: 75%;
	margin: auto;
	font-size: 50px;
	font-family: 'Alegreya', serif;
}
.author{
	padding-top: 20px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 900;
}
.author p{
	font-size: 18px;
	font-weight: 700;

}
.redirect{
	text-align: center;
	margin-bottom: 30px;
}
.redirect a{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #666666;
}
.redirect a:hover{
	text-decoration: none;
    color: rgb(25, 173, 149);
}
